<footer class="mt-5 py-3 my-4 border-top">
    <div class="container d-flex justify-content-center">
        <span style="color: #8e8e8e;">
            © <%= date(new Date(), 'YYYY') %> <%= config.title %>
        </span>
    </div>
</footer>