<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('title') %></title>
    <meta name="keywords" content="along.wang,Along,ImageShrink,图像压缩,Get RandPass,生成随机密码">
    <meta name="description" content="along.wang，发布个人开发的开源项目，前产品经理、UI设计师、程序员，技术栈：C#、Swift、PHP。">
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- jquery -->
    <script src="/assets/js/jquery-3.7.0.min.js"></script>
    <!-- bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- style -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- along-icon -->
    <link rel="stylesheet" href="/assets/along-icon/iconfont.css">
</head>