<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- partial('_partial/head') %>
    <body>
        <!-- header -->
        <%- partial('_partial/header') %>
        <!-- main -->
        <%- body %>
        <%- partial('_partial/footer') %>
    </body>
</html>